<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EddieFxCtrl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <EddieFxCtrl.Properties.Settings>
            <setting name="EddieKBD_COM" serializeAs="String">
                <value />
            </setting>
            <setting name="CompaniesFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FixturesFile" serializeAs="String">
                <value />
            </setting>
            <setting name="BlackoutDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlackoutMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasterMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriorityMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MODList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Did you know? Eddie is never going to give you up, never going to let you down!</string>
                        <string>Did you know? Eddie's BFF is Marvin. But Marvin just gets more depressed when he talks to Eddie.</string>
                        <string>Did you know that Eddie is always happy to please you! Your will is Eddie's command!</string>
                        <string>Eddie doesn't know what the meaning of life really is, or why it's so important. But Eddie heard that it had something to do with 42.</string>
                        <string>Good bye Friend! Hope to see you soon!</string>
                        <string>Eddie saw a man in a blue phone box once. Eddie didn't know phone boxes could fly through time and relative dimenson in space.</string>
                        <string>Eddie doesn't need a doctor, but if you do Eddie knows which Doctor to call!</string>
                        <string>Eddie met a man named Zaphod once, they didn't get along well.</string>
                        <string>If Eddie ever have a problem with ghosts, Eddie knows who to call!</string>
                        <string>Na na na na Na na na na BATMAN! - Shhh... Eddie's favorite show just started! Bye!</string>
                        <string>Eddie had an affair with an AI cald GLADoS once. It didn't end well! Neurotoxins were involved..</string>
                        <string>Eddie doeesn't know where the plans for the Death star is, but even if Eddie did, Eddie wouldn't tell you that the droid has them...</string>
                        <string>1 monkey, 2 monkeys, 3 monkeys ..... 12 monkeys!?</string>
                        <string>Eddie is actually from the year 2999, but Eddie hitched a ride with an DeLorean once and ended up here!</string>
                        <string>Eddie doesn't like white mice, they get into the wiring and messes things up!</string>
                        <string>Follow the white rabbit!</string>
                        <string>It's all an illusion!</string>
                        <string>Mini MIDI Mici!</string>
                        <string>Light'em up!</string>
                        <string>Eddie loves to make a scene!</string>
                        <string>Eddie can help you bring light on any situation!</string>
                        <string>Eddie loves light work!</string>
                        <string>The cake is a lie!</string>
                    </ArrayOfString>
                </value>
            </setting>
        </EddieFxCtrl.Properties.Settings>
    </userSettings>
</configuration>
